
label {
    display: block;
    padding: 2px;
}

body {
    color: green;
    font-size: 20pt;
 
    font-family: Georgia, 'Times New Roman', Times, serif 
}

button {
    background-color: green;
    color: white;
    padding: 5px;
}